## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Baghdad,IQ,84.11,clear sky,33.3406,44.4009,Baghdad Hotel
1,12,Riyadh,SA,93.34,overcast clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
2,26,Perry,US,90.84,light rain,37.2506,-83.1999,Hampton Inn & Suites Hazard
3,35,Bethel,US,90.77,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
4,36,Cockburn Town,TC,82.36,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
...,...,...,...,...,...,...,...,...
139,679,Wewak,PG,82.02,scattered clouds,-3.5534,143.6268,In Wewak Boutique Hotel
140,690,Umm Lajj,SA,85.08,overcast clouds,25.0213,37.2685,Moon light Furnished Units
141,694,Baracoa,CU,80.37,overcast clouds,20.3467,-74.4958,Hostal Rio Miel
142,696,Cortez,US,90.10,broken clouds,37.3489,-108.5859,Sand Canyon National 9 Inn
143,699,Bandar-E Lengeh,IR,91.02,overcast clouds,26.5579,54.8807,کافی نت پارس

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == 'Shimoda']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Shimoda'] 
vacation_stop1 = vacation_df.loc[vacation_df["City"] == 'Nara']
vacation_stop2 = vacation_df.loc[vacation_df["City"] == 'Hasaki'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == 'Katsuura']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')

fig.add_layer(direction_layer)

# Display the map.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,170,Shimoda,JP,80.33,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
1,599,Nara,JP,81.97,overcast clouds,34.6851,135.8049,Guesthouse Nara Komachi
2,394,Hasaki,JP,82.29,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
3,422,Katsuura,JP,81.16,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig2.add_layer(marker_layer)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))